<div id="modal-backdrop" class="hidden"></div>

<div id="sign-in-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
          <h3>Find a DormMate</h3>
          <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-sign-in">

          <div class="modal-input-container">
            <label for="student-name" class="input-name">Username</label>
            <input type="text" name="modal-username" id="modal-usernameid" class="modal-input" placeholder="userame">
          </div>

          <div class="modal-input-container">
            <label for="pass-word" class="input-password">Password</label>
            <input type="text" name="modal-password" id="modal-passwordid" class="modal-input" placeholder="password">
          </div>

        </div>

        <div class="modal-sign-up">

          <div class="modal-input-container">
            <label for="student-name" class="input-name">Username</label>
            <input type="text" name="modal-username" id="modal-usernameid" class="modal-input" placeholder="userame">
          </div>

          <div class="modal-input-container">
            <label for="pass-word" class="input-password">Password</label>
            <input type="text" name="modal-password" id="modal-passwordid" class="modal-input" placeholder="password">
          </div>

          <div class="modal-input-container">
            <label for="pass-word" class="input-password">Verify Password</label>
            <input type="text" name="modal-verify-password" id="modal-verify-passwordid" class="modal-input" placeholder="verify-password">
          </div>

          <!-- should we make a separate sign up page? -->

        </div>

        <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
          <button type="button" id="modal-accept" class="action-button">Confirm</button>
        </div>

      </div>
    </div>