<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dormmate &mdash; A roomate selction Website</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
      <link rel="stylesheet" href="/style.css">
      <script src="index.js" charset="utf-8" defer></script>
    </head>
  </head>
<body>
  <header>
    <h1 class="site-title">Dormmate
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink everyone active"><a href="#">Everyone</a></li>
          <li class="navitem navlink favorite"><a href="#">Favorites</a></li>
          <li class="navitem navlink me"><a href="#">Me</a></li>
        </ul>
      </nav>
        <button class="login-button">Sign In</button>
    </h1>

  </header>

  <main class="home-page">
    <div class="title-container">
      <h2>Find your dream roomates and enhance your first-year experience .</h2>
    </div>
  </main>

  {{{body}}}


</body>
</html>
