<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dormmate &mdash; A roomate selction Website by ya boy </title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen"> -->
      <link rel="stylesheet" href="/style.css">
    </head>
  </head>
<body>

  <header>
    <h1 class="site-title">Dormmate</h1>
  </header>


  <main class="home-page">
    <div class="title-container">
      <h2>Find your dream roomates and enhance your first-year experience .</h2>
      <div class="icon">
        <i class="fa fa-camera-retro"></i>
      </div>
      <div class="icon">
        <i class="fa fa-group"></i>
      </div>
    </div>
  </main>

  {{{body}}}


</body>
</html>
