<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dormmate &mdash; A roomate selction Website by ya boy </title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
      <link rel="stylesheet" href="/style.css">
      <script src="index.js" charset="utf-8" defer></script>
    </head>
  </head>
<body>
  <div id="modal-backdrop" class="hidden"></div>
  <div id="login-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>Login</h3>
        <!-- <button type="button" class="modal-close-button">&times;</button> -->
      </div>

      <div class="modal-body">
        <div class="login-input-element">
          <label for="login-text-input">Login/Sign Up:</label>
          <input id="login-text-input"></input>
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="modal-cancel-button">Cancel</button> -->
        <button type="button" class="modal-accept-button">Submit</button>
      </div>

    </div>
  </div>
  <header>
    <h1 class="site-title">Dormmate

        <button class="login-button">Sign In</button>

    </h1>

  </header>

  <main class="home-page">
    <div class="title-container">
      <h2>Find your dream roomates and enhance your first-year experience .</h2>
    </div>
  </main>

  {{{body}}}


</body>
</html>
