body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

.background-image{
  background-image: url("https://www.thevinestudios.com/img/s/v-3/p10032940-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 0;
}

.content{
  z-index: 1;
}

.home-page{
  padding: 10px 20px;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #f69c31;
  color: #fff;
}


.users-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  position: relative;
  flex: 0 1 25%;
  display: flex;
  margin: 2px;
  padding: 5px 5px;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #fff;
}


.img-container{
  border-radius: 20px;
  padding: 2px 2px;
  width: 30%;
  height: 54%;
}

.user-bio{
  padding:inherit;
}

.name{
  padding: inherit;
  margin: auto;
}

.fav-button{
  /* height: 25px;
  width: 25px;
  padding: 10px; */
  /* border-radius: 30px; */
  /* font-size: 55px; */
  text-align: left;
  /* padding: 20 20; */
  z-index: 2;
}

.favorite-button{
  border-radius: 90px;
  background-color: #ffffff;
  font-size: 20px;
  color: #fff50d;

  /* border: solid 2px; */
}

.login-button{
  float: right;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#login-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 200px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.login-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.login-input-element label {
  font-weight: 400;
  flex: 2 75px;
  margin-right: 10px;
}

#login-text-input  {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

#signup-input{
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.login-input-element textarea {
  min-height: 64px;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

.link-box{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}
