<article class="user-card">
  <div class="img-container">
    <img class="person-photo-img" src="{{url}}" />
  </div>
  <div class="user-bio">
    <p class="bio-text">
      {{bio}}
    </p>
    <p class="name">
      <a href="#">{{name}}</a>
    </p>
  </div>
</article>
